@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
   /* COLORS VARIABLES */
   /* whites */
   --color-white: #ffffff;
   --color-white33: #ffffff33;
   --color-whiteFC: #fcfcfc;

   /* greys */
   --color-greyF8: #f8f8f8;
   --color-grey05: #00000005;
   --color-greyEB: #ebebeb;
   --color-grey4E: #4e4e4e;
   --color-greyC5: #c5c5c5;
   --color-grey26: #262626;
   --color-grey14: #00000014;
   --color-grey39: #393939;
   --color-grey6E: rgb(110, 110, 110);
   --color-greyDC: #dcdcdc;
   --color-greyA1: #a1a1a1;
   --color-grey12: #00000012;
   --color-greyD4: #d4d4d4;
   --color-grey78: #787878;
   --color-greyB2: #b2b2b2;
   --color-grey57: #575757;

   /* colors */
   --color-greenGrey: #799283;
   --color-greenLight: #5ad07a;
   --color-greenDark: #135846;
   --color-greeenPale: #eef9f2;
   --color-greeenBooked: #eef9f2;
   --color-red: #e23428;
   --color-pinkPale: #ffedec;
   --color-orangeDark: #ff9c3a;
   --color-orangeLight: #fb9f44;
	--color-yellowLight: #ffffa4;
	--color-yellowDark: #c0c028;
   --color-orangePale: #ffedec;
   --color-silver: #ebf1ef;

   /* dark */
   --color-black: #000000;
   --color-black21: #212121;
   --color-brown: #5d5449;

   /* FONTS VARIABLES */
   --font-main: "Poppins", sans-serif;
   
}

div::-webkit-scrollbar {
   display: none; /* for Chrome, Safari, and Opera */
 }